.projectListItem {
  list-style: none;
  padding: 40px 10px 40px 0;
  background-color: white;
  border-bottom: 1px solid #E3E3E3;
  display: flex;
}

.projectInfos {
  flex: 1 0 auto;

  .projectInfos-clientName {
    font-weight: 500;
    font-size: 18px;
  }

  .projectInfos-projectName {
    font-weight: 500;
    font-size: 14px;
  }

  .projectInfos-location {
    font-weight: 200;
    font-size: 14px;
  }
}

.projectActions {
  flex: 0 0 90px;
}

.btnAction, .btnAction:active, .btnAction:focus, .btnAction:hover {
  margin-right: 5px;
  color: #5C75B0;
}

button:focus {
  outline: 0 !important;
}
